<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <META HTTP-EQUIV="Pragma" CONTENT="no-cache"> -->
    <!-- <META HTTP-EQUIV="Expires" CONTENT="-1">-->
    <title>Teletransport.me</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/bs-custom-file-input.js"></script>
    <script src="/javascripts/mapbox-gl.js"></script>
    <link rel="stylesheet" href="/stylesheets/mapbox-gl.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/stylesheets/knobots.css">
    <link rel="stylesheet" href="/stylesheets/simple-keyboard.css">
    <!-- <link rel="stylesheet" type="text/css" href="/webchat/static/css/materialize.min.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="/webchat/static/css/embed.css"> -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
</head>

<body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar')%>
    <main class="container mt-5">
        <%- include('../partials/flash')%>
        <%- body %>
    </main>
    <%- include('../partials/footer')%>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery-3.6.0.min.js"></script>


    <script src="/javascripts/validateForms.js"></script>

    <!-- Icons -->
    <script src="/javascripts/feather.min.js"></script>
    <script>
      feather.replace();
    </script>
</body>
</html>
