<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">New Robot</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/robots" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Name</label>
                <input class="form-control" type="text" id="title" name="robot[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="robot[location]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <!-- <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="robot[image]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div> -->
            <div class="mb-3">
                <label class="form-label" for="price"> Teletransport Session Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="robot[price]" required>
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="connecturl">Connection URL</label>
                <input class="form-control" type="text" id="connecturl" name="robot[connecturl]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="connectremoteurl">Remote Connection URL</label>
                <input class="form-control" type="text" id="connectremoteurl" name="robot[connectremoteurl]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="model" class="form-label">Model</label>
                  <select id="model" name="robot[model]" required="required" class="custom-select">
                    <option value="jobot">Jobot</option>
                    <option value="double">Double</option>
                    <option value="ubbo">Ubbo</option>
                    <option value="viqi">ViQi</option>
                    <option value="unknown" selected>Unknown</option>
                  </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="serial" class="form-label">Serial</label>
                <input class="form-control" type="text" id="serial" name="robot[serial]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="robot[description]"
                    required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Choose image(s)...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Robot</button>
            </div>
        </form>
        <a href="/robots">All Robots</a>
    </div>
</div>
